extends template

block menu
    +createMenu(2)

block content
    .main-block
        .content3
            .img1
                img(src='pict/css1.jpg')
            .img2
                img(src='pict/css2.jpg')
            .img3
                img(src='pict/html.jpg')
            .img4
                img(src='pict/css1.jpg')
            .img5
                img(src='pict/css1.jpg')
            .img6
                img(src='pict/html.jpg')
            .img7
                img(src='pict/css1.jpg')
