mixin a(href, name)
    a(class!=attributes.class href=href)= name

mixin createMenu (idPage)
    if idPage == 0
        +a('index-1.html', 'CSS')(class = "selected")
        +a('#', 'Синтаксис CSS')
        +a('#', 'Вставка CSS')
        +a('#', 'CSS текст')
        +a('index-2.html', 'CSS шрифт')
        +a('index-3.html', 'Блоки')
    if idPage == 1
        +a('index-1.html', 'CSS')
        +a('#', 'Синтаксис CSS')
        +a('#', 'Вставка CSS')
        +a('#', 'CSS текст')
        +a('index-2.html', 'CSS шрифт')(class = "selected")
        +a('index-3.html', 'Блоки')
    if idPage == 2
        +a('index-1.html', 'CSS')
        +a('#', 'Синтаксис CSS')
        +a('#', 'Вставка CSS')
        +a('#', 'CSS текст')
        +a('index-2.html', 'CSS шрифт')
        +a('index-3.html', 'Блоки')(class = "selected")

<!DOCTYPE html>
html
    head
        include setting
    body
        .menu
            .nav
                block menu

        block content
